.login-container
    width: 100%
    height: 100vh !important
    display: flex
    justify-content: center
    align-items: center
    background-color: #f6f6f680
    .card
        width: 50%
        max-width: 400px
        min-width: 350px
        border-radius: 5px
        .card-title
            font-family: 'Poppins',sans-serif
            font-size: 26px
            font-weight: 600
        .card-body
           