@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;700&display=swap')

*
    font-family: 'Inter', sans-serif
    .err-msg
        font-family: 'Inter',sans-serif
        font-size: 10px
        font-weight: 300
        color: #ff0000
        margin: 0
        padding: 0

    form
        .form-label
            font-size: 13px
            color: #646464
            font-family: 'Poppins',sans-serif

        .form-control
            font-size: 13px
            border: rgba(7, 3, 216, 0.588)
            box-shadow: rgba(219, 219, 219, 0.588) 0px 0px 0px 1px
            &:focus
                outline: none !important
                box-shadow: rgba(216, 216, 216, 0.588) 0px 0px 0px 1px
        .success
            border: rgba(3, 216, 49, 0.588)
            outline: none !important
            box-shadow: rgba(0, 170, 37, 0.588) 0px 0px 0px 1px
            &:focus
                box-shadow: rgba(0, 167, 36, 0.588) 0px 0px 0px 1px
        .error
            border: rgba(255, 1, 1, 0.588)
            outline: none !important
            box-shadow: rgba(255, 1, 1, 0.588) 0px 0px 0px 1px
            &:focus
                box-shadow: rgba(255, 1, 1, 0.588) 0px 0px 0px 1px

        input[type="submit"]
            font-size: 14px
            width: 80px
            height: 35px
            font-family: 'Inter',sans-serif
            font-weight: 400
